$bluePrimary: hsl(242, 59%, 30%);
$redSecondary: hsl(8, 65%, 50%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 22%);
$grayLight: hsl(242, 5%, 95%);
$grayDark: hsl(242, 5%, 65%);

$shadow: 0 .2rem .6rem rgba(0, 0, 0, .2);
$shadow2: 0 .2rem .6rem rgba(0, 0, 0, .5);
