$bluePrimary: hsl(242, 59%, 30%);
$redSecondary: hsl(8, 65%, 50%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 25%);
$black2: hsl(0, 0%, 15%);
$grayLight: hsl(242, 5%, 95%);
$grayMedium: hsl(242, 5%, 85%);
$grayDark: hsl(242, 5%, 65%);

$shadow: 0 .2rem .4rem rgba(0, 0, 0, .2);
$shadow2: 0 .2rem .4rem rgba(0, 0, 0, .5);
