@import './variables';
@import './mixins';

.card {
	max-width: 40rem;
	width: 100%;
	box-shadow: $shadow;
	background-color: $white;
	text-decoration: none;

	@include respond(900) {
		max-width: 100%;
		display: flex;
		flex-direction: row-reverse;
	}

	@include respond(600) {
		max-width: 40rem;
		display: block;
	}

	&:not(:last-of-type) {
		margin-right: 6.4rem;

		@include respond(1280) {
			margin-right: 4.8rem;
		}

		@include respond(1024) {
			margin-right: 2.4rem;
		}

		@include respond(900) {
			margin-right: 0;
			margin-bottom: 3.2rem;
		}
	}
}

.cardImg {
	width: 100%;
	height: 30rem;

	@include respond(1024) {
		height: 25.6rem;
	}

	@include respond(900) {
		max-width: 24rem;
		height: auto;
	}

	@include respond(600) {
		max-width: none;
		height: 25.6rem;
	}

	@include respond(350) {
		max-width: none;
		height: 24rem;
	}

	& img {
		border-top: .8rem solid $bluePrimary;
		border-bottom: .8rem solid $bluePrimary;
		width: 100%;
		display: block;
	}
}

.cardBody {
	color: $black;
	padding: 4rem 2rem;
	text-decoration: none;

	@include respond(900) {
		margin-top: 0;
		margin-right: 3.2rem;
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
	}

	@include respond(600) {
		justify-content: flex-start;
		margin-right: 0;
	}

	@include respond(350) {
		padding: 2.4rem 2rem;
	}

	& h4 {
		margin-bottom: .8rem;
		color: $bluePrimary;
	}

	& p {
		margin-bottom: 4.8rem;

		@include respond(600) {
			margin-bottom: 3.2rem;
		}
	}
}

.cardLink {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: $bluePrimary;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 600;
	text-align: right;
	letter-spacing: .06rem;

	&:hover {
		text-decoration: underline;
	}
}

.icon {
	width: 2.4rem;
	height: 2.4rem;
	fill: $redSecondary;
}
