@import './variables';

.item {
	& label {
		display: block;
		color: $bluePrimary;
		font-weight: 600;
	}

	&:not(last-of-type) {
		margin-bottom: 2.4rem;
	}

	& a {
		color: $black;
		&:hover {
			color: $bluePrimary;
			text-decoration: underline;
		}
	}
}
