@import './variables';
@import './mixins';

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2.4rem;
	grid-auto-rows: 25.6rem;
	margin-top: 2.4rem;
	position: relative;

	&::before {
		left: -1.5%;
	}

	&::after {
		right: -1.5%;
	}

	@include respond(1280) {
		grid-auto-rows: 20vw;
	}

	@include respond(900) {
		grid-gap: 1.6rem;
	}

	@include respond(600) {
		grid-auto-rows: 30vw;

		grid-template-columns: repeat(2, 1fr);
	}
}

.img {
	cursor: pointer;
	overflow: hidden;
	transition: opacity .2s;
}

.img:hover {
	opacity: .6;
}
