@import './variables';
@import './mixins';

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1.6rem;
	grid-auto-rows: 24rem;
	margin-top: 2.4rem;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 2.5%;
		left: -2.5%;
		width: 105%;
		height: 95%;
		background-color: $grayLight;
		z-index: -1;
	}
	@include respond(1280) {
		grid-auto-rows: 20vw;
	}

	@include respond(768) {
		grid-gap: .8rem;
	}
}

.img {
	border: .1rem solid $grayDark;
	cursor: pointer;
	overflow: hidden;
}

.img1 {
	composes: img;
	grid-column: 1;
	grid-row: 1;
}

.img2 {
	composes: img;
	grid-column: 2;
	grid-row: 1;
}

.img3 {
	composes: img;
	grid-column: 3;
	grid-row: 1;
}

.img4 {
	composes: img;
	grid-column: 1;
	grid-row: 2;
}

.img5 {
	composes: img;
	grid-column: 2;
	grid-row: 2;
}

.img6 {
	composes: img;
	grid-column: 3;
	grid-row: 2;
}

.img7 {
	composes: img;
	grid-column: 1;
	grid-row: 3;
}

.img8 {
	composes: img;
	grid-column: 2;
	grid-row: 3;
}

.img9 {
	composes: img;
	grid-column: 3;
	grid-row: 3;
}

.img10 {
	composes: img;
	grid-column: 1;
	grid-row: 4;
}

.img11 {
	composes: img;
	grid-column: 2;
	grid-row: 4;
}

.img12 {
	composes: img;
	grid-column: 3;
	grid-row: 4;
}
