@import './variables';
@import './mixins';

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin-top: -14rem;
	padding: 0 3.2rem;
	@include section-fw;
	margin-bottom: 0;

	@include respond(1024) {
		height: auto;
		margin-top: 9.6rem;
	}

	@include respond(900) {
		margin-top: 2.4rem;
	}

	@include respond(600) {
		padding: 0 1.6rem;
		margin-top: 2.4rem;
	}

	@include respond(425) {
		padding: 0 1.6rem;
		margin-top: 1.6rem;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 141.8rem;

		@include respond(1440) {
			justify-content: space-around;
		}

		@include respond(900) {
			max-width: 52rem;
			margin: auto;
			flex-direction: column-reverse;
			justify-content: center;
			align-items: center;
		}
	}

	&__img {
		flex: 0 1 64rem;
		margin-right: 1.6rem;
		position: relative;
		box-shadow: 1.6rem 1.6rem 0 $bluePrimary;

		@include respond(1440) {
			max-width: 60rem;
		}

		@include respond(1280) {
			max-width: 52rem;
		}

		@include respond(1024) {
			margin-bottom: 4.8rem;
			margin-top: 2.4rem;
			flex: 1 1 auto;
			width: 100%;
			box-shadow: .8rem .8rem 0 $bluePrimary;
		}

		@include respond(768) {
			max-width: 80%;
		}

		@include respond(425) {
			margin-bottom: 4.8rem;
		}

		& img {
			border: .1rem solid $grayDark;
		}
	}

	&__cta {
		margin-right: 2.4rem;
		flex: 0 0 62.4rem;

		@include respond(1440) {
			flex: 0 0 50rem;
		}

		@include respond(1280) {
			flex: 0 0 46.5rem;
			margin-right: 4.8rem;
		}

		@include respond(900) {
			margin-right: 0;
			flex: 1 1 auto;
		}

		@include respond(600) {
			max-width: 40rem;
		}

		@include respond(425) {
			max-width: 30rem;
		}

		& a {
			@include respond(425) {
				width: 100%;
				text-align: center;
			}
		}
	}

	& h1 {
		margin-bottom: 2.4rem;
		color: $bluePrimary;

		@include respond(900) {
			margin-bottom: .8rem;
		}
	}

	& h5 {
		margin-bottom: 4.8rem;

		@include respond(425) {
			max-width: 33rem;
		}
	}

	&::after {
		content: '';
		background-image: url('../images/hero-bg-svg.svg');
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		height: 35%;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;

		@include respond(1440) {
			height: 30%;
		}

		@include respond(1024) {
			height: 60%;
			bottom: -20rem;
		}
		@include respond(900) {
			height: 25%;
			background-image: url('../images/hero-bg-svg-2.svg');
		}
	}
}

.services {
	@include section-fw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	@include respond(1024) {
		margin-top: 20rem;
	}

	&::after {
		content: '';
		background: $grayLight;
		height: 60%;
		width: 100%;
		margin-top: -3.2rem;
		position: absolute;
		top: 0;
		z-index: -2;

		@include respond(1024) {
			margin-top: -6.4rem;
			height: 70%;
		}

		@include respond(900) {
			height: 30%;
		}
	}

	&__container {
		width: 100%;
		max-width: 112.8rem;

		@include respond(1280) {
			padding-left: 3.2rem;
			padding-right: 3.2rem;
		}

		@include respond(600) {
			padding-left: 2.4rem;
			padding-right: 2.4rem;
		}
	}

	&__cards {
		display: flex;
		justify-content: space-between;

		@include respond(900) {
			flex-direction: column;
			align-items: center;
		}
	}
}

.projects {
	@include section-narrow;
}

.secondaryCta {
	@include section-fw;
	background-color: $bluePrimary;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10.4rem 1.6rem;

	& h2 {
		margin-bottom: 2.4rem;

		@include respond(768) {
			text-align: center;
		}
	}

	@include respond(600) {
		padding: 5.6rem 1.6rem;
	}
}

.process {
	@include section-narrow;
	display: flex;
	flex-direction: column;
}

.about {
	@include section-fw;
	display: flex;
	justify-content: center;
	background-color: $grayLight;
	padding: 7.2rem 0;

	&__container {
		width: 100%;
		max-width: 112.8rem;
		margin: auto;
		margin-bottom: 14.4rem;

		margin-bottom: 0;
		display: flex;
		flex-direction: column;

		@include respond(1280) {
			padding-left: 3.2rem;
			padding-right: 3.2rem;
		}

		@include respond(600) {
			padding-left: 2.4rem;
			padding-right: 2.4rem;
		}
	}

	&__content {
		display: flex;
		align-items: flex-start;

		@include respond(900) {
			flex-direction: column;
			align-items: center;
			max-width: 52rem;
			margin: auto;
		}
	}

	&__img {
		margin-right: 3.2rem;
		flex: 1 0 40rem;
		@include respond(900) {
			margin-right: 0;
			margin-bottom: 2.4rem;
			flex: 1 1 auto;
		}

		& img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	& p:not(:last-of-type) {
		margin-bottom: 2.4rem;
	}
}
.contact {
	@include section-narrow;

	&__container {
		display: flex;
		justify-content: space-between;

		@include respond(900) {
			flex-direction: column;
		}
	}

	& h4 {
		font-size: 2.4rem;
		color: $bluePrimary;
		line-height: 1.6;
		margin-bottom: .8rem;
	}

	&__items {
		margin-left: 4.8rem;
		@include respond(900) {
			margin-left: 0;
			text-align: center;
			margin-top: 4.8rem;
		}
	}

	&__form {
		flex: 1 1 auto;
		max-width: 64rem;

		& button {
			width: 100%;
		}

		@include respond(900) {
			width: 100%;
			margin: 0 auto;
		}
	}
}
