@import './variables';
@import './typography';
@import './mixins';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%; // 1rem = 10px
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	background: $white;
}

.layout {
	display: grid;
	grid-template-columns: 1fr minmax(min-content, 141.8rem) 1fr;
	grid-template-rows: min-content 1fr 28.8rem;
	min-height: 100vh;

	@include respond(1440) {
		display: flex;
		flex-direction: column;
	}
}

.anchor {
	top: -12rem;
	position: relative;

	@include respond(600) {
		top: -8rem;
	}
}

.anchor-top {
	top: 0;
	position: absolute;
}
