@import './variables';
@import './typography';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%; // 1rem = 10px
	box-sizing: border-box;
	overflow-y: scroll;
}

body {
	background: $white;
}

.layout {
	display: grid;
	grid-template-columns: 1fr minmax(min-content, 141.8rem) 1fr;
	grid-template-rows: min-content 1fr 28.8rem;
	min-height: 100vh;
}

.btn {
	height: 5.6rem;
	font-size: 2.4rem;
	font-weight: 500;
	padding: 1.6rem 3.2rem;
	text-decoration: none;
	line-height: 5.6rem;
	white-space: nowrap;
}

.btn--red {
	background-color: $redSecondary;
	color: white;

	&:hover {
		background-color: $bluePrimary;
	}
}
