@import './variables';
@import './mixins';

.modal {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
	color: white;
	background-color: rgba(0, 0, 0, 0.85);
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80%;
	overflow: hidden;
	max-width: 100rem;
	padding: 1.6rem;

	@include respond(900) {
		max-width: 60rem;
		padding: .4rem;
	}
}

.modal__nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;

	display: flex;
	justify-content: space-between;
	padding: 1.6rem 3.2rem;

	@include respond(900) {
		padding: 1.6rem;
	}

	& img {
		width: 16rem;

		@include respond(900) {
			width: 12.8rem;
		}
	}
}

.modal__content {
	margin-top: 6.4rem;
	position: relative;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;

	@include respond(425) {
		width: 80%;
	}
}

.arrow {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 3.2rem;
	cursor: pointer;
}

.modal__close {
	width: 3.2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;

	& span {
		height: .2rem;
		width: 100%;
		background-color: #fff;

		&:first-of-type {
			transform: translateY(.2rem) rotate(45deg);
		}

		&:last-of-type {
			transform: rotate(-45deg);
		}
	}
}
