@import './variables';
@import './mixins';

.sectionHeading {
	margin-bottom: 6.4rem;
	color: $bluePrimary;
	margin-left: -1.6rem;
	padding-left: .8rem;
	border-left: .8rem solid $redSecondary;

	@include respond(600) {
		margin-bottom: 3.2rem;
	}
}
