@font-face {
    font-family: 'yantramanav_boldbold';
    src: url('yantramanav-bold-webfont.eot');
    src: url('yantramanav-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('yantramanav-bold-webfont.woff2') format('woff2'),
         url('yantramanav-bold-webfont.woff') format('woff'),
         url('yantramanav-bold-webfont.ttf') format('truetype'),
         url('yantramanav-bold-webfont.svg#yantramanav_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

