@font-face {
	font-family: 'Yantramanav';
	src: url('./fonts/Yantramanav.woff2') format('woff2');
	font-weight: 400;
	display: swap;
}

@font-face {
	font-family: 'Yantramanav';
	src: url('./fonts/Yantramanav\ Medium.woff2') format('woff2');
	font-weight: 500;
	display: swap;
}

@font-face {
	font-family: 'Yantramanav';
	src: url('./fonts/Yantramanav\ Bold.woff2') format('woff2');
	font-weight: 600;
	display: swap;
}
